body {
  background-color: black;
}

.header {
  color: wheat; 
  background-color: green;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.post {
  color: white;
  background-color: maroon;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  border: 2px solid wheat;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

img {
  width: 80%;
}
